<launch>
    <node ns="stereo" pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc" output="screen">
        <remap from="left/image_raw" to="/robot1/trasera1/trasera1/rgb/image_raw" />
        <remap from="left/camera_info" to="/robot1/trasera1/trasera1/rgb/camera_info"/>
        <remap from="right/image_raw" to="/robot1/trasera2/trasera2/rgb/image_raw"/>
        <remap from="right/camera_info" to="/robot1/trasera2/trasera2/rgb/camera_info"/>
        <param name="approximate_sync" value="true" />
        <param name="queue_size" value="10" />
    </node>

    <node pkg="image_view" type="stereo_view" name="stereo_view">
        <remap from="stereo" to="/robot1"/>
        <remap from="image" to="rgb/image_raw" />
        <remap from="/robot1/left/rgb/image_raw" to="/robot1/trasera1/trasera1/rgb/image_raw" />
        <remap from="/robot1/right/rgb/image_raw" to="/robot1/trasera2/trasera2/rgb/image_raw" />
    </node>

    <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure" />
</launch>